.example {
    width: 150px;
    height: 100px;
    color: white;
    font-family: helvetica, sans-serif;
    padding: 8px;
}

.example-grow {
    width: 300px;
    height: 300px;
}

#clickme {
    position: absolute;
    left: 400px;
    top: 400px;
}
