.example {
    width: 150px;
    height: 100px;
    color: white;
    font-family: helvetica, sans-serif;
    padding: 8px;
}

.anim {
    width: 350px;
    height: 300px;
}

.example-grow {
    width: 300px;
    height: 300px;
}

#clickme {
    position: absolute;
    left: 600px;
    top: 500px;
}
